<!DOCTYPE html>
<html>
  <head>
    <title>PrintCrm</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module", async: true %>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
          <% if user_signed_in? %>
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav">
                    <a href="#" class="nav-item nav-link active">Новини</a>
                    <% if current_user.print_maker %>
                      <%= link_to available_orders_print_makers_orders_path, class: 'nav-item nav-link',  data: { turbo: "false" }, method: :get do%>
                        Доступні замовлення
                      <% end %>
                      <%= link_to archived_orders_print_makers_orders_path, class: 'nav-item nav-link',  data: { turbo: "false" }, method: :get do%>
                        Завершені замовлення
                      <% end %>
                      <%= link_to profile_path(current_user), class: "nav-item nav-link", data: { turbo: "false" }, method: :get do %> 
                        <i class="bi bi-person-fill"></i>
                      <% end %>
                    <% end %>

                    <% if current_user.print_maker_admin || current_user.super_admin %>
                      <%= link_to print_maker_admins_orders_path, class: 'nav-item nav-link',  data: { turbo: "false" }, method: :get do%>
                        Перелiк замовлень
                      <% end %>
                    <% end %>
                    <% if current_user.customer %>
                      <%= link_to new_customers_order_path, class: "nav-item nav-link", data: { turbo: "false" }, method: :get do %>
                        Створити замовлення
                      <% end %>

                      <%= link_to customers_orders_path, class: 'nav-item nav-link', data: { turbo: "false" }, method: :get do %>
                        Мої замовлення
                      <% end %>
                    <% end %>
                    <% if current_user.super_admin %>
                      <%= link_to super_admins_users_path, class: "nav-item nav-link", data: { turbo: "false" }, method: :get do %> 
                        Керування користувачами
                     <% end %>
                    <% end %>
                  <%# <a href="#" class="nav-item nav-link">
                    <i class="bi bi-bell-fill"></i>
                    <%# <span class="badge rounded-pill badge-notification bg-danger">1</span> %>
                  <%# </a> %>
                </div>
            </div>
          <% end %>

        </div>
    </nav>
  </head>

  <body>
    <div class="container">
    <%= render "shared/flash" %>
      <div class="row">
        <div class="col">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
