<!DOCTYPE html>
<html>
  <head>
    <title>PrintCrm</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
        <nav class="navbar navbar-expand-lg bg-body-tertiary", data-controller="active-link">
      <div class="container">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <%= link_to 'Головна', root_path, class: 'nav-link', data: { target: "active-link.navLink" }%>
            </li>
            <% if user_signed_in? %>
                </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  <img
                    src="<%= current_user.avatar_url %>"
                    class="rounded-circle"
                    height="30"
                    alt="user avatar"
                    loading="lazy"
                  />
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li> <%= button_to 'Мiй профiль', profile_path(current_user), class: "dropdown-item", data: { turbo: "false" }, method: :get %></li>
                  <li><hr class="dropdown-divider"></li>
                  <li> <%= button_to 'Вийти', destroy_user_session_path, class: "dropdown-item", data: { turbo: "false" }, method: :delete %> </li>
                </ul>
              </li>
            <% else %>
              <li class="nav-item">
                <%= link_to 'Увійти', new_user_session_path, class: "nav-link active" %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>
  </head>

  <body>
    <div class="container">
    <%= render "shared/flash" %>
      <div class="row">
        <div class="col">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
